*auth.json
**/production-results/*
stimuli/*
*.DS_Store
*.dcf
*.Rdata
*.rdb
*.rdx
*.Rhistory
*_cache/*
*_files/*
*resconnect/
data/*
.Rproj.user/*
*4-Word-Embedding/*
writeup/cogsci2018/data/study1/Gender-Career\ IAT.public.2005-2016.feather
writeup/cogsci2018/data/study1/Gender-Career IAT.public.2005-2016.feather
writeup/cogsci2018/gender_cogsci_2018.log
writeup/cogsci2018/tmp-pdfcrop-61689.tex
writeup/cogsci2018/gender_cogsci_2018.tex
writeup/cogsci2018/gender_cogsci_2018_cache/latex/*
writeup/cogsci2018/analysis/study2b/data/raw/*
writeup/cogsci2018/analysis/study1/data/raw/*
2_pretrained_w2v_models/factbook.json/*
writeup/cogsci2018/analysis/study2b/google_translate_and_names_analysis/*
writeup/cogsci2018/analysis/study2b/google_translate_and_names_analysis/*
data/IAT/Gender-Career/Gender-Career\ IAT.public.2005-2016.feather
data/IAT/Gender-Career/Gender-Career\ IAT.public.2005-2016.sav
analyses/childrens_books/wiki.en.vec
data/IAT/Gender-Genius/InternationalIAT_LanguageData.csv
.csv
*.feather
# LaTeX #
*.bet
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
.Rproj.user
analyses/5_race/data/Race IAT.public.2002-2017.sav
analyses/5_race/data/Race_IAT.public.2016.zip
analyses/7_age_controls/by_participant_df.csv
