*auth.json
**/production-results/*
stimuli/*
*.DS_Store
*.dcf
*.rdb
*.rdx
*.Rdata
*.Rhistory
*_cache/*
*_files/*
*resconnect/
*resources/
*writeup/journal/iat_lang_cache/*
*exploratory_data/
*exploratory_studies/
.Rproj.user/*
*4-Word-Embedding/*
writeup/journal/iat_lang.tex
writeup/journal/iat_lang.ttt
writeup/journal/iat_lacg_cache/*
writeup/journal/iat_lacg_files/*
writeup/journal/iat_lang.fff
data/study1c/processed/long_form_exploratory_behavior_and_language.csv
data/study1c/processed/long_form_confirmatory_behavior_and_language.csv
data/study1c/processed/tidy_behavioral_iat_data_exploratory_full.csv
data/study1c/processed/tidy_behavioral_iat_data_confirmatory_full.csv
writeup/cogsci2018/data/study1/Gender-Career\ IAT.public.2005-2016.feather
writeup/cogsci2018/data/study1/Gender-Career IAT.public.2005-2016.feather
writeup/cogsci2018/gender_cogsci_2018.log
writeup/cogsci2018/tmp-pdfcrop-61689.tex
writeup/cogsci2018/gender_cogsci_2018.tex
writeup/cogsci2018/gender_cogsci_2018_cache/latex/*
writeup/cogsci2018/analysis/study2b/data/raw/*
writeup/cogsci2018/analysis/study1/data/raw/*
2_pretrained_w2v_models/factbook.json/*
writeup/cogsci2018/analysis/study2b/google_translate_and_names_analysis/*
writeup/cogsci2018/analysis/study2b/google_translate_and_names_analysis/*
data/IAT/Gender-Career/Gender-Career\ IAT.public.2005-2016.feather
data/IAT/Gender-Career/Gender-Career\ IAT.public.2005-2016.sav
analyses/childrens_books/wiki.en.vec
data/IAT/Gender-Genius/InternationalIAT_LanguageData.csv
exploratory_studies/8_gender_genius/3_behavioral_project_implicit/data/Gender-Science\ IAT.public.2003-2017.sav
exploratory_studies/8_gender_genius/3_behavioral_project_implicit/data/gender_science_by_participant.csv
data/study1/raw/Gender-Career\ IAT.public.2005-2016.feather
exploratory_data/*
exploratory_studies/13_aiid_exploration/*
exploratory_studies/misc_plots_for_gary/*
data/study1c/raw/AIID_subset_exploratory.csv
data/study1c/raw/AIID_subset_confirmatory.csv
data/study1c/processed/tidy_behavioral_iat_data_confirmatory.csv
data/study1c/raw/BNCspokenFormatted.txt
data/study1c/raw/COCAshort_words.txt
exploratory_studies/2_pretrained_w2v_models/behavior_IAT/iat_gender_full_cache/*
exploratory_studies/2_pretrained_w2v_models/behavior_IAT/iat_gender_fullv2_cache/*
exploratory_studies/2_pretrained_w2v_models/embedding_IAT/embedding_IAT_summary_cache/*
data/study1c/processed/trained_coca_fasttext_5.csv
data/study1c/processed/trained_bnc_fasttext_5.csv
data/study1c/processed/trained_bnc_fasttext_400_10.csv
data/study1c/processed/trained_coca_fasttext_400_10.csv
data/study1c/processed/AIID_subset_confirmatory.csv
analyses/study1c/parameter_exploration/trained_models/temp_model.csv
writeup/journal/SI/iatlang_SI_cache/*
writeup/journal/iat_lang_files/*
writeup/journal/sections/study1_writeup_files/*
writeup/journal/sections/study2_writeup_files/*
writeup/journal/SI/iatlang_SI_pdf_files/*
writeup/journal/SI/iatlang_SI_pdf_cache/*
writeup/journal/SI/iatlang_SI_cache/*
writeup/journal/data_for_pre_review/data/*
writeup/journal/data_for_pre_review/genderdifferences.dta
*falk_hermle_2018_data.dta
data/other/tidy_other_psych_measures.csv
writeup/journal/data_for_pre_review/*



*.feather
# LaTeX #
*.bet
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
.Rproj.user
analyses/5_race/data/Race IAT.public.2002-2017.sav
analyses/5_race/data/Race_IAT.public.2016.zip
analyses/7_age_controls/by_participant_df.csv
analyses/5_race/data/Race\ IAT.public.2016.sav
analyses/5_race/data/Race\ IAT.public.2002-2017.sav
analyses/5_race/data/Race\ IAT.public.2002-2017\ \(1\).zip
exploratory_studies/16_wiki_native/data/*
exploratory_studies/16_wiki_native/misc/*
exploratory_studies/13_europarl/other_data/*
exploratory_studies/13_europarl/gender_ratings/*
exploratory_studies/13_europarl/get_iat_bias/*
exploratory_studies/14_eci/*
exploratory_studies/15_udbank/*
exploratory_studies/16_wiki_native/02_get_wiki_text/ar_nativelang_article_text.csv
data/study1b_native_replication_SI/01_processed_links/*
data/study1b_native_replication_SI/01_raw_links/*
data/study1b_native_replication_SI/02_text/*
data/study1b_native_replication_SI/03_native_wiki_corpora/*
data/study1b_native_replication_SI/04_models/*

